Conditional statements

In [4]:
# if statement
age = 12
if age >= 20:
    print("You can vote")
else:
    print("You can't vote")

You can't vote

Lists are ordered mutable collection of items
They can constin items of different datatypes

In [2]:
lst = [1, 2, 3, 4, 5];
print(lst);

[1, 2, 3, 4, 5]

In [2]:
names = ["Anish", "Anil", "Anita", "Anjali", "Anjana", 1, 2, 3, 4, 5];
print(names);

['Anish', 'Anil', 'Anita', 'Anjali', 'Anjana', 1, 2, 3, 4, 5]

In [3]:
mised_list = [1, "Anish", 3.14, True];
print(mised_list);

[1, 'Anish', 3.14, True]

In [4]:
# Accessing elements in a list
fruits = ["apple", "banana", "cherry", "date", "elderberry"];

In [13]:
print(fruits[-5]);

apple

In [9]:
for i in fruits:
    print(i);

apple
banana
cherry
date
elderberry

In [15]:
print(fruits[:1])

['apple']

In [16]:
print(fruits[1:])

['banana', 'cherry', 'date', 'elderberry']

In [17]:
print(fruits[1:3])

['banana', 'cherry']

In [18]:
# modifying the list elements
fruits[1] = "watermelon";
print(fruits);

['apple', 'watermelon', 'cherry', 'date', 'elderberry']

In [19]:
fruits[1:] = "watermelon";

In [20]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [21]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"];

In [22]:
## list methods

fruits.append("fig");

In [23]:
fruits

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

In [24]:
fruits.insert(3, "grape");
fruits

['apple', 'banana', 'cherry', 'grape', 'date', 'elderberry', 'fig']

In [25]:
fruits.remove("date"); #remove the first ocurence of the element
fruits

['apple', 'banana', 'cherry', 'grape', 'elderberry', 'fig']

In [26]:
# remove and return the last item
popped_fruit = fruits.pop();
print(popped_fruit);
print(fruits);

fig
['apple', 'banana', 'cherry', 'grape', 'elderberry']

In [27]:
print(fruits.index("cherry"));

2

In [28]:
fruits.insert(3, "cherry");

In [31]:
print(fruits);
print(fruits.count("cherry"));

['apple', 'banana', 'cherry', 'cherry', 'grape', 'elderberry']
2

In [32]:
fruits.sort();
print(fruits);

['apple', 'banana', 'cherry', 'cherry', 'elderberry', 'grape']

In [33]:
fruits.reverse();
print(fruits);

['grape', 'elderberry', 'cherry', 'cherry', 'banana', 'apple']

In [35]:
fruits.clear();
print(fruits);

[]

Slicing lists

In [36]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
print(numbers[2:5]);
print(numbers[:5]);
print(numbers[5:]);
print(numbers[::2]);
print(numbers[::-1]);

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
for number in numbers:
    print(number);

1
2
3
4
5
6
7
8
9
10

In [39]:
for index, number in enumerate(numbers):
    print(index, number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [43]:
#list comprehension

lst = []
for x in range(10):
    lst.append(x**2)
print(lst);

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
[x**2 for x in range(10)];
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List comprehension

Basic Syntax [expression for item in iterable]

with conditional logic [expresssion for item in iterable if condition]

Nested list comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [46]:
# basic list comprehension

square = [num**2 for num in range(10)]
print(square);

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
# list comprehension with if statement
lst = []
for i in range(10):
    if i%2 == 0:
        lst.append(i)
print(lst);

[0, 2, 4, 6, 8]

In [49]:
even_numbers = [num for num in range(10) if num%2==0]
print(even_numbers);

[0, 2, 4, 6, 8]

In [50]:
# Nested list comprehension

list1 = [1, 2, 3, 4];
list2 = ['a', 'b', 'c', 'd'];

pair = [[i, j] for i in list1 for j in list2]

print(pair);

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [51]:
## list comprehension with function calls

words = ["apple", "banana", "cherry", "date", "elderberry"];
lengths = [len(word) for word in words];
print(lengths);

[5, 6, 6, 4, 10]